@charset "utf-8";
/* CSS Document */
body{
	background-color:lightgoldenrodyellow
}
h1 {
	color:lightcoral;
}
h1{
	text-align:center;
}
a{
text-decoration: none;
}
#firstp {
	color: rgba(200,125,234,0.83);
	line-height: 1.8;
}
p{
	font-family: "Times New Roman", Times, serif;
}
.blue{
	color: blue;
}
.red{
	color: red;
}